In [35]:
# so i am writing this to see what I can code 
# alright so
import pandas as pd 

url = "data/tortilla_prices.csv"
df = pd.read_csv(url)
df.head()

,State,City,Year,Month,Day,Store type,Price per kilogram
0,Aguascalientes,Aguascalientes,2007,1,10,Mom and Pop Store,9.9
1,Baja California,Mexicali,2007,1,10,Mom and Pop Store,NaN
2,Baja California,Tijuana,2007,1,10,Mom and Pop Store,10.0
3,Baja California Sur,La Paz,2007,1,10,Mom and Pop Store,10.0
4,Campeche,Campeche,2007,1,10,Mom and Pop Store,10.0

In [27]:
for col in df.columns:
    print(f"{col}:{pd.api.types.is_numeric_dtype(col)}")

State:False
City:False
Year:False
Month:False
Day:False
Store type:False
Price per kilogram:False